.dropdown{
    height: 30%;
    border: 1px solid lightgray;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0px lightgray;
    width: 20%;
    align-items: center;
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #FAFBFC;
}
.dropdown>li{
    list-style: none;
}
.dropdown>li>ul{
    margin: 10px;
    padding: 2px 0;
}
.dropdown>li>ul:hover{
    background-color: lightgray;
    cursor: pointer;
}
