.lead_table{
    position: absolute;
    left: 0%;
    top: 40%;
    width: 80%;
}

@media screen and (max-width: 1024px) {
    .lead_table{
        position: absolute;
        left: 0%;
        top: 20%;
        width: 60% !important;
    }
}
@media screen and (max-width: 768px) {
    .lead_table{
        position: absolute;
        left: 0%;
        top: 20%;
        width: 10% !important;
    }
    
}
  
@media screen and (max-width: 425px) and (max-width: 540px) {
    .lead_table{
        position: absolute;
        left: 10%;
        top: 20%;
        width: 10% !important;
    }
}
  
  @media screen and (max-width: 411px) {
    .lead_table{
        position: absolute;
        left: 10%;
        top: 50%;
        width: 10% !important;
    }
  }

  @media screen and (max-width: 375px) {
    .lead_table{
        position: absolute;
        left: 10%;
        top: 50%;
        width: 10% !important;
    }
}

  @media screen and (max-width: 280px) {
    .lead_table{
        position: absolute;
        left: 10%;
        top: 50%;
        width: 10% !important;
    }
}